* {
    font-family: "Roboto Slab",
        serif;
}

#main::-webkit-scrollbar {
    width: 1px;
}

#main::-webkit-scrollbar-thumb {
    background-image: linear-gradient(blue, red);
    border-radius: 100px;
}

#main::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 100px;
}

#main::-webkit-scrollbar-corner {
    display: none;
}